@model IEnumerable<GatherUP.Models.Vartotojas>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Customers</h2>
@if (!Model.Any())
{
    <p>We don't have any users yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Prisijungimo vardas</th>
            <th>Vardas</th>
            <th>Pavardė</th>
            <th>Užblokuotas?</th>
            <th>Blokuoti vartotoją</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Prisijungimo_vardas</td>
                <td>@user.Vardas</td>
                <td>@user.Pavarde</td>
                <td>@(user.Ar_uzblokuotas == 0 ? "Ne" : "Taip")</td>
                <td>@Html.ActionLink((user.Ar_uzblokuotas == 0 ? "Blokuoti" : "Atblokuoti") + " vartotoją", "BlockUser", "Administrator", new { Prisijungimo_vardas = user.Prisijungimo_vardas}, new { onclick = "return confirm('Ar tikrai norite pašalinti šį vartotoją?')"}) </td>
            </tr>
        }
        </tbody>
    </table>
}